/bin/

.settings/org.eclipse.jdt.core.prefs
logs/2015-10-10-1.log.gz
*.gz
logs/fml-client-latest.log
logs/fml-client-latest.log
logs/fml-client-latest.log
*.log
logs/fml-client-latest.log
saves/Test World/session.lock
*.dat
saves/Test World/level.dat_old
saves/Test World/session.lock